nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90%;
}
nav .logo {
  max-height: 100px;
  overflow: hidden;
}
nav .logo img {
  height: 100px;
  width: 200px;
}
.wrapper {
  width: 100%;
}
