nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 150px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}
@media (max-width: 500px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    justify-content: center;
  }
}
nav .logo {
  align-self: flex-start;
  overflow: hidden;
  width: 25rem;
  height: 15rem;
}
@media (max-width: 500px) {
  nav .logo {
    width: 80%;
    height: 15rem;
    flex-basis: auto;
  }
}
nav .logo img {
  height: auto;
  width: 100%;
  margin: -5rem 0;
}
@media (max-width: 500px) {
  nav .logo img {
    display: block;
    position: absolute;
    top: -150px;
    left: -5px;
    flex-grow: 1;
    height: auto;
    margin: 0;
  }
}
nav #sign-up {
  background: #718BE8;
}
nav #sign-up a {
  color: white;
}
nav .nav-buttons {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  nav .nav-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
}
nav .nav-buttons .button {
  height: auto;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 500px) {
  nav .nav-buttons .button {
    border-radius: 0;
    margin: 0px;
    border: 1px solid black;
    padding: 3rem;
    background-color: #718BE8;
  }
  nav .nav-buttons .button a {
    color: white;
  }
}
nav .nav-buttons .button:hover {
  background: #C7EEFF;
}
nav .about {
  border: none;
}
@media (max-width: 500px) {
  nav .about {
    border: 1px solid black;
  }
  nav .about a:hover {
    color: #718BE8;
  }
  nav .about a:hover {
    color: #718BE8;
  }
}
nav .about #sign-up a:hover {
  color: #C7EEFF;
}
html {
  box-sizing: border-box;
  font-family: 'Poiret One';
  font-size: 62.5%;
}
p {
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  p {
    font-size: 2.4rem;
  }
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: black;
}
figcaption {
  font-size: 2rem;
  line-height: 1;
}
@media (max-width: 500px) {
  figcaption {
    font-size: 3rem;
  }
}
.wrapper {
  width: 100%;
  text-align: center;
}
button {
  font-family: 'Poiret One';
}
cite {
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  cite {
    font-size: 2rem;
  }
}
.dark {
  background-color: #FBFBFB;
}
.content {
  margin-top: 15rem;
  padding: 0 2rem;
}
.feature {
  padding: 10px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 500px) {
  .feature {
    flex-wrap: wrap;
  }
}
.feature article {
  margin: 20px;
}
.feature blockquote cite {
  text-align: left;
}
.feature #img-search {
  width: 400px;
  height: auto;
  margin: 20px;
}
.feature #top-img {
  max-width: 40rem;
  max-height: 50rem;
  margin: 3rem;
}
@media (max-width: 500px) {
  .feature #top-img {
    margin-top: 140px;
  }
}
.feature .image {
  width: 800px;
  margin: 20px;
}
.feature .image img {
  width: 100%;
  height: 100%;
}
.anywhere {
  display: block;
}
.anywhere img {
  width: 600px;
  height: auto;
}
.collage {
  display: block;
}
.visual-research {
  display: block;
}
.img-topics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img-topics img {
  max-width: 100px;
  max-height: 100px;
}
.img-topics figure {
  margin: auto;
  padding: 10px;
}
.add-remove img {
  margin: 20px;
  width: 300px;
  height: auto;
}
.policy {
  display: block;
}
.policy #lambda {
  margin-top: 5rem;
  width: 20rem;
  height: auto;
}
.policy p {
  line-height: 2;
  width: 75%;
  margin: 0 auto;
  text-align: left;
}
.stats {
  display: block;
}
.stats .figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stats .figures figure {
  margin: 20px;
  max-width: 200px;
}
.stats .figures figure img {
  max-height: 200px;
  max-width: 200px;
}
.stats .figures figure figcaption {
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .stats .figures figure figcaption {
    font-size: 2rem;
    line-height: 1.3;
  }
}
.collage img {
  max-width: 500px;
  max-height: 400px;
  width: 100%;
  height: auto;
}
footer {
  width: 75%;
  margin: 0 auto;
  background: #718BE8;
  text-align: center;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
}
footer small {
  display: inline-block;
  text-align: center;
  height: 1rem;
  color: white;
  vertical-align: middle;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
}
footer small a {
  color: crimson;
}
#about-top {
  padding: 10rem;
  margin: 15rem 0 0 0;
  font-size: 100px;
  background: #718BE8;
}
#about-top h2,
#about-top p {
  color: white;
}
.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.members .clicked {
  display: block;
}
.members .bio {
  display: none;
  font-size: 2rem;
  width: 35rem;
  margin-top: 10rem;
  height: auto;
  border: 5px solid #718BE8;
  border-radius: 1rem;
  padding: 3rem;
  background-image: url('../assets/white.jpg');
}
.members .bio.clicked {
  display: block;
}
.members .member {
  margin: 4rem;
  max-width: 20rem;
  max-height: 20rem;
}
.members .member img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.members .member .social-media {
  width: 2.5rem;
  height: auto;
  margin: 0.5rem;
}
.members .member button {
  margin: 1rem;
}
address {
  margin: 8rem 0 0 0;
  padding: 15rem 0;
  background: #718BE8;
}
address h2 {
  color: white;
}
address button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background: white;
  border-radius: 1rem;
}
address button:hover {
  background: #C7EEFF;
  cursor: pointer;
}
form {
  display: none;
  margin: 0 auto;
  width: 40rem;
  padding: 1rem;
  border: 10px ridge;
}
form div {
  margin-top: 1rem;
}
form div label {
  display: inline-block;
  font-size: 2rem;
  color: white;
  text-align: right;
  margin-right: 2rem;
}
form div input,
form div textarea {
  width: 28rem;
  margin-left: 2rem;
}
form div #email {
  margin-left: 3rem;
}
form div textarea {
  vertical-align: middle;
  height: 5rem;
  margin-left: 0rem;
}
