nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid black;
}
nav .logo {
  max-height: 100px;
}
nav .logo img {
  height: 100px;
  width: 200px;
}
nav .nav-buttons {
  display: flex;
  align-items: center;
}
nav .nav-buttons .sign-in {
  height: auto;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background: white;
}
html {
  box-sizing: border-box;
  font-family: fantasy;
}
.wrapper {
  width: 100%;
  text-align: center;
}
button {
  font-family: fantasy;
}
.feature {
  padding: 10px;
}
.img-topics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
