.content {
    margin-top: 15rem;
    padding: 0 2rem;
}

.feature {
    padding: 10px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    article {
        margin: 20px;
    }
    
    blockquote {
        
        
        cite {
            text-align: left;
        }
        
    }
    
    #img-search {
        width: 400px;
        height: auto;
        margin: 20px;
    }
    
    #top-img {
        max-width:40rem;
        max-height:50rem;
        margin: 3rem;
        
    }
    
    .image {
//        max-width: auto;
//        max-height: auto;
        width: 800px;
        margin: 20px;
        
        img {
            width: 100%;
            height: 100%;
        }
        
    }
    
    
}

.anywhere {
    display: block;
    
    img {
        width: 600px;
        height: auto;
    }
    
}

.collage {
    display: block;
}

.visual-research {
    display: block;
}

.img-topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    img {
        max-width:100px;
        max-height: 100px;
    }
    
    figure {
        margin: auto;
        padding: 10px;   
    }
}

.add-remove {
    img {
        margin: 20px;
        width: 300px;
        height: auto;
    } 
}

.policy {
    display: block;
    
    #lambda {
        margin-top: 5rem;
        width: 20rem;
        height: auto;
    }
    
    
}

.stats {
    display: block;
    
    
    .figures {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        figure {
            margin: 20px;
            max-width: 200px;
            
            
            img {
                max-height: 200px;
                max-width: 200px;
            }
            
            figcaption {
                font-size: 1.6rem;
            }
        }
    }
    
}

.collage {
    
    img {
        max-width:500px;
        max-height:400px;
        width: 100%;
        height: auto;
    }
}


    
    
    
    






