.feature {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    blockquote {
        width: 50%;
    }
}

.anywhere {
    display: block;
}

.collage {
    display: block;
}

.visual-research {
    display: block;
}

.img-topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    
    img {
//        width: auto;
    }
}

.stats {
    
    img {
//        width: auto;
    }
    

    
    figure {
        width: 25%;
    }
    
}


    
    
    
    
    
    






