

.feature {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    blockquote {
        width: 50%;
    }
    
    #img-search {
        width: auto;
        height: auto;
        margin: 20px;
        
        img {
            width: 100%;
        }
    }
    
    .top-img {
        margin: 20px;
    }
    
    .image {
//        max-width: auto;
//        max-height: auto;
        width: 800px;
        margin: 20px;
        
        img {
            width: 100%;
            height: 100%;
        }
        
    }
    
}

.anywhere {
    display: block;
}

.collage {
    display: block;
}

.visual-research {
    display: block;
}

.img-topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    img {
        max-width:100px;
        max-height: 100px;
    }
    
    figure {
        margin: auto;
        padding: 10px;
            
    }
    
}

.stats {
    display: block;
    
    .figures {
        display: flex;
    }
    
    
    
    img {
//        width: auto;
    }
    

    
    figure {
        width: 25%;
    }
    
}

.policy {
    display: block;
    
    #lambda {
        width: auto;
        height: auto;
    }
    
    
}
    
    
    
    
    
    






