html {
    
    box-sizing: border-box;
    font-family: fantasy;
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.wrapper {
    width: 100%;
    text-align: center;
}


button {
    font-family: fantasy;
}

cite {
    font-size: 1.6rem;
}


