    nav {
        display:flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 90%;

        .logo {
            max-height: 100px;
            overflow: hidden;
            img {
                height: 100px;
                width: 200px;
            }


        }


    }


