
    nav {
        display:flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        border: 1px solid black;
//        position: fixed;

        .logo {
            max-height: 100px;
            img {
                height: 100px;
                width: 200px;
            }
        }
        
        .nav-buttons {
            display: flex;
            align-items: center;
            
            .sign-in {
                height: auto;
                margin: 10px;
                padding: 10px;
                font-size: 20px;
                background: white;
            }
        }
    }


